.page3flexClass{
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.page3{
    max-width: 95vw;
    margin: auto;
    flex-direction: column;
    color: rgb(255, 255, 255);
    position: relative;
    justify-content: start;
}

.page3-heading-box{
    top: 105px;
    position: relative;

    .page3-upper-headingh5{
        color: rgb(255, 255, 255);
        font-size: 17px;
        font-weight: 900;
    }
}
 
.page3-commonClass{
    transform: translateX(20%);
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, #a249ed 50%, #a249ed 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    background-position: 100% 0;
    transition: transform 1.5s ease;
}

.page3-commonClass.animate {
    transform: translateX(0);
    animation: colorChange 1.5s forwards;
}

.page3-heading-para{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: rgb(255, 255, 255);
    width: 500px;
    text-align: center;
    margin-top: 12px;
}





.page3-images-box{
    text-align: center;
    justify-content: space-around;
    gap: 20px;
    position: relative;
    top: 180px;
    margin: 0 24px;
}

.page3-image-box-commonClass{
    flex-direction: column;

    >h5{
        font-size: 28px;
        font-weight: 800;
        line-height: 39px;
        margin-top: 16px;
        margin-bottom: 8px;
    }

    >p{
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
    }
}

.page3-main-img-box >img{
    transform: rotate(0deg) scale(1);
    transition: transform 1.5s ease-in-out;
}

.page3-float-img {
    width: 65px;
    height: 65px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    transform: translate(-75px, -60px) rotateY(0deg);
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
    transform-style: preserve-3d;
}

.page3-image-box-commonClass:hover{
    .page3-float-img{
        transform: translate(-75px, -60px) rotateY(180deg);
        background-color: rgb(162, 73, 237);
    }

    .page3-main-img-box >img{
        transform: rotate(12deg) scale(1.05);
    }
}


.page3-float-img >img{
    width: 40px;
    height: 40px;
}


.page3-image-box1 {
    transform: translateX(-84px);
    transition:transform 0.5s ease-in-out;
}
  
.page3-image-box1.animate {
    transform: translateX(0px);
}

.page3-image-box4 {
    transform: translateX(84px);
    transition:transform 0.5s ease-in-out;
}
  
.page3-image-box4.animate {
    transform: translateY(0px);
}

.page3-image-box2 {
    transform: translateY(84px);
    transition:transform 0.5s ease-in-out;
}
  
.page3-image-box2.animate {
    transform: translateY(0px);
}

.page3-image-box3 {
    transform: translateY(84px);
    transition:transform 0.5s ease-in-out;
}
  
.page3-image-box3.animate {
    transform: translateY(0px);
}



@media screen and (max-width: 1024px){
    .page3-images-box{
        text-align: center;
        justify-content: space-around;
        gap: 20px;
        position: relative;
        top: 180px;
        margin: 0 24px;
        display: grid;
        grid-template-columns: 30vw 30vw 30vw;
    }
}

@media screen and (max-width: 768px){
    .page3-heading-box{
        .page3-heading{
            font-size: 40px;
        }
    } 

    .page3-images-box{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 52px;
    }
}

@media screen and (max-width: 576px){
    .page3-heading-box{
        .page3-heading{
            font-size: 30px;
            line-height: 35px;
        }
    } 

    .page3-images-box{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 52px;
    }
}

@media screen and (max-width: 480px){
    .page3-heading-para {
        width: auto;
    }
}