.page6flexClass{
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.page6{
    max-width: 95vw;
    margin: auto;
    flex-direction: column;
}

.page6-heading-box{
    top: 100px;
}

.page2-cards-box{
    .page6-cards-box-inner{
        top: 130px;
        height: auto;
        align-items:flex-start;
        color: rgb(19, 32, 37);
        cursor: auto;

        .page6-card-CommonClass{
            height: 600px;
            background-color: rgb(255, 255, 255);
            border-radius: 28px;
            border: 3px solid rgb(17, 17, 17);
            border-bottom: 6px solid rgb(17, 17, 17);
            padding: 40px 36px;
            cursor:auto;
        }

        .page6-card-CommonClass:hover{
            height: 650px;
            transition: height 0.5s ease-in-out;
            color: rgb(255, 255, 255);

            .page6-heading-para{
                >p{
                    color:rgb(255, 255, 255);
                }
            }

            >a{
                color: rgb(255, 255, 255);
                background: linear-gradient(30deg, #a249ed 20%, #6131e8 100%);
            }

            >p{
                color: rgb(255, 255, 255);
            }

            >ul li{
                color: rgb(255, 255, 255);
            }

            li .card6-check-mark{
                background: linear-gradient(30deg, #a249ed 20%, #6131e8 100%);
            }

            .page6-card-header-box{
                .page6-card-imgBox{
                    background: 
                        linear-gradient(rgb(19, 32, 37), rgb(19, 32, 37)) padding-box,
                        linear-gradient(30deg, #a249ed 20%, #6131e8 100%) border-box;
                    border: 3px solid transparent;
                    border-bottom: 6px solid transparent;
                }
            }

            .page6-card-bottom-img{
                opacity: 1;
            }
        }

        .page6-card-CommonClass::after {
            left: -100%;
            height: 600px;
            background: rgb(19, 32, 37);
            transition: left 0.2s ease-in-out;
            border-radius: 16px;
        }
          
        .page6-card-CommonClass:hover::after {
            left: 0;
            height: 650px;
        }
    }
}

.page6-card-imgBox{
    width: 67px;
    height: 72px;
    border: 3px solid rgb(17, 17, 17);
    border-bottom: 6px solid rgb(17, 17, 17);
    overflow: hidden;
    border-radius: 10px;

    >img{
        width: 52px;
        height: 52px;
    }
}

.page6-card-header-box{
    display: flex;
    align-items: center;
    gap: 80px;
}

.page6-card-header-box >h3{
    font-size: 25px;
    font-weight: 900;
}

.page6-heading-para{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8px;

    >h6{
        font-size: 21px;
        font-weight: 900;
    }

    >p{ 
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        color: rgb(100, 100, 100);
        margin-top: 4px;
    }
}

.page6-card-button{
    position: relative;
    display: block;
    width: 100%;
    border-radius: 30px;
    font-size: 22px;
    font-weight: 800;
    color: rgb(19, 32, 37);
    border: 3px solid rgb(17, 17, 17);
    border-bottom: 6px solid rgb(17, 17, 17);
    text-decoration: none;
    padding: 14px 0;
    margin: 32px 0 15px 0;
    text-align: center;
}

.page6-text-after-button{
    font-size: 15px;
    font-weight: 500;
    line-height: 15px;
    color: rgb(100, 100, 100);
}

.page6-card-bottom-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 32px;
    gap: 10px;

    li{
        display: flex;
        align-items: center;
        color: rgb(19, 32, 37);
        font-size: 16px;
        font-weight: 900;

        .card6-check-mark{
            border-radius: 50%;
            border: 2px solid rgb(17, 17, 17);
            width: 35px;
            height: 35px;
        }

        >span{
            font-size: 18px;
            line-height: 30px;
            font-weight: 800;
            margin-left: 10px;
        }
    }
}

.page6-card-bottom-img{
    margin-top: 24px;
    opacity: 0;
}



.page6-bottom-heading-upper-part{
    flex-direction: column;
}

.page6-bottom-heading-box{
    top: 250px;
}







.page6-bottom-section{
    position: relative;
    gap: 10vw;
    top: 320px;
    width: 91vw;
}

.page6-bottom-blink-image{
    width: 44px;
    height: 44px;
    position: absolute;
    z-index: 10;
}

.page6-bottom-img-box >img{
    position: absolute;
    z-index: 10;
}

.img1-side-text{
    transform: translate(-168px, 27px);
}

.img2-side-text{
    transform: translate(188px, -77px);
}

.page6-bottom-inner-img-1-box >img{
    z-index: 20;
}

.page6-bottom-inner-img-1-box{
    border-bottom-left-radius: 195px;
    border-bottom-right-radius: 195px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.page6-bottom-inner-img-2-box{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.page6-bottom-inner-img-box{
    position: relative;
    box-sizing: border-box;
    z-index: 40;
    overflow: hidden;
    filter: grayscale(0%);
    transition: filter 0.5s ease;
    cursor: pointer;
}

.page6-bottom-img-text{
    position: absolute;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 100%;
    z-index: 30;
    bottom: -100%;
    height: 110px;
    transition: bottom 0.5s ease;

    >p{
        font-size: 18px;
        font-weight: 500;
        color: rgb(80, 78, 78);
        line-height: 28px;
    }
}

.page6-bottom-inner-img-box:hover{
    .page6-bottom-img-text{
        bottom: 0px;
    }
    filter: grayscale(100%);
}


.page6-bottom-img-text-heading a{
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
    color: rgb(22, 22, 22);
}

.page6-bottom-button{
    position: relative;
    top: 390px;
    z-index: 10;
}


.bottom-blink-img1{
    transform: scale(0.3);
    top: 250px;
    left: 580px;
    animation: blink1 10s ease-in-out infinite;
}

.bottom-blink-img2{
    transform: scale(0.4);
    top: 350px;
    left: 620px;
    animation: blink2 8s ease-in-out infinite;
   
}

@keyframes blink1 {
    0% {
      transform: scale(0.3);
    }
    50%{
      transform: scale(1);
      opacity: 1;
    }
}

@keyframes blink2 {
    0% {
      transform: scale(0.4);
    }
    50%{
      transform: scale(1.8);
      opacity: 1;
    }
}


.page6-bottom-background-div{
    position: relative;
    top: -130px;
    width: 100vw;
    height: 590px;
    background-color: rgb(237, 223, 255);
}





.page6-footer{
    position: relative;
    top: -40px;
    width: 91vw;
    flex-direction: column;
}

.page6-footer-upper-box{
    position: relative;
    width: 91vw;
    display: grid;
    grid-template-columns: 40vw 50vw;
    justify-content: center;
    align-items: center;
}

.page6-footer-img{
    box-sizing: border-box;
    position: relative;
    width: 470px;
    height: 470px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.page6-footer-img >img{
    position: absolute;
}

.page6-footer-upper-right-text-box {
    box-sizing: border-box;
    /* position: relative; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 60px;

    >h4{
        font-size: 35px;
        font-weight: 800;
        color: rgb(20, 21, 21);
    }

    >p{
        font-size: 22px;
        line-height: 32px;
        font-weight: 500;
        color: rgb(13, 22, 26);
        padding-left: 32px;
        border-left: 4px solid rgb(112, 67, 218);
        margin-top: 20px;
    }

    >h5{
        font-size: 28px;
        font-weight: 800;
        color: rgb(13, 22, 26);
        margin-top: 56px;
        margin-bottom: 4px;
    }

    >span{
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
        color: rgb(144, 108, 226);
    }
}

.page6-footer-bottom-box{
    position: relative;
    top: 210px;
}

.page6-footer-middle-border{
    position: relative;
    top: 120px;
    width: 100%;
    height: 2px;
    background-color: rgb(21, 21, 21);
}

.page2-heading{
    font-size: 60px;
    font-weight: 800;
  }

.page2-commonClass{
    transform: translateX(20%);
    background: linear-gradient(90deg, rgb(20, 21, 21) 0%, rgb(20, 21, 21) 50%, #a249ed 50%, #a249ed 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    background-position: 100% 0;
    transition: transform 1.5s ease;
}

.page2-commonClass.animate {
    transform: translateX(0);
    animation: colorChange 1.5s forwards;
}

.page6-footer-bottom-heading >h3{
    font-size: 45px;
    font-weight: 800;
    color: rgb(20, 21, 21);
}

.page6-footer-bottom-right-box{
    flex-direction: column;
    gap: 90px;
    margin-left: 56px;
}

.footer-bottom-right-img-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.page6-footer-img-common{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    height: 50px;
    overflow: hidden;
}

.page6-footer-img-common img{
    transform: translateY(25px);
    transition: transform 0.2s ease;
}

.page6-footer-img-common:hover img {
    transform: translateY(-25px);
}


@media screen and (max-width: 1325px){
    .page6-bottom-section{
        gap: 3vw;
        width: 95vw;
    }
    
    .page6-bottom-blink-image{
        display: none;
    }

    .img1-side-text{
        display: none;
    }
    
    .img2-side-text{
        display: none;
    }

    .page6-bottom-inner-img-box img{
        width: 340px;
    }

    .page6-bottom-background-div{
        top: 0px;
        height: 470px;
    } 

    .page6-footer{
        top: 0px;
    }

    .page6-footer-upper-box{
        margin-top: 100px;
    }
    
    .page6-footer-img{
        width: 350px;
        height: 350px;
    }

    .page6-footer-bottom-box{
        position: relative;
        top: 180px;
        flex-direction: column;
    }

    .footer-bottom-right-img-box{
        gap: 80px;
    }

    .page6-footer-bottom-right-box{
        margin-left: 0px;
    }

    /* .page6-footer-img img{
        width: 350px;
        height: 370px; 
    } */
}

@media screen and (max-width: 768px){
    .page2-heading-box{
        .page6-heading{
            font-size: 40px;
            line-height: 40px;
        }
    }

    .page2-cards-box{
        .page6-cards-box-inner{
    
            .page6-card-CommonClass{
                height: 550px;
                width: 90vw;
            }
    
            .page6-card-CommonClass:hover{
                height: 600px;
                width: 90vw;
            }
    
            .page6-card-CommonClass::after {
                height: 550px;
                width: 90vw;
                
            }
              
            .page6-card-CommonClass:hover::after {
                left: 0;
                height: 600px;
            }
        }
    }

    .page6-bottom-section{
        flex-direction: column;
    }
    
    .page6-bottom-inner-img-box >img{
        width: 430px;
        height: 520px;
    }

    .page6-bottom-button{
        top: 350px;
    }

    .page6-footer-upper-box{
        width: 91vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 44px;
    }

    .page6-footer-upper-right-text-box {
        margin-left: 0px;
    }

    .page6-footer-bottom-box{
        top: 180px;
        width: 95vw;
    }

    .page6-footer-bottom-right-box{
        flex-direction: column;
        gap: 40px;
        margin-left: 0px;
    }
    
    .footer-bottom-right-img-box{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .page6-footer-img-common img{
        height: 40px;
    }
}

@media screen and (max-width: 576px){
    .page2-heading-box{
        .page6-heading{
            font-size: 30px;
            line-height: 30px;
        }
    }
    .page6-footer-img{
        width: 310px;
        height: 310px;
    }

    .page6-footer-bottom-right-box{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 14vw;
        margin-left: 0px;
    }

    .footer-bottom-right-img-box{
        display: flex;
        flex-direction: column;
    }

    .page6-footer-img-common img{
        height: 30px;
    }
}

@media screen and (max-width: 480px){
    .page2-cards-box {
        & .page6-cards-box-inner {
            .page6-card-CommonClass {
                padding: 40px 14px;
                height: 600px;
            }

            .page6-card-CommonClass:hover {
                height: 650px;
                transition: height 0.5s ease-in-out;
                color: rgb(255, 255, 255);
            }

            .page6-card-CommonClass::after {
                height: 600px;
                width: 90vw;
                
            }
              
            .page6-card-CommonClass:hover::after {
                left: 0;
                height: 650px;
            }
        }
    }

    .page6-card-header-box {
        gap: 20px;
    }

    .page6-bottom-heading-upper-part {
        text-align: center;
    }

    .page6-bottom-inner-img-box {
        width: 92vw;
    }

    .page6-bottom-inner-img-box >img {
        width: 100%;
        object-fit: cover;
    }

    .page6-bottom-inner-img-2-box {
        border-top-left-radius: 195px;
        border-top-right-radius: 195px;
    }

    .page6-bottom-section {
        gap: 30px;
        width: 95vw;
    }

    .page6-footer-bottom-right-box {
        gap: 10vw;
    }

    .footer-bottom-right-img-box {
        gap: 24px;
    }
} 

.page6-footer-img >img {
    position: absolute;
    width: 98vw;
}

@media screen and (max-width: 320px){

    .page6-footer-img {
        width: 98vw;
        height: 310px;
    }

    .page6-footer-img >img {
        position: absolute;
        width: 98vw;
    }
}